<!DOCTYPE html>
<html>
  <head>
    <title>Kronrod Extensions</title>
  </head>
  <body>
    <h1>Kronrod Extensions</h1>

    <h2>Quadrature Rules</h2>

    <ul>
      {% for extensiontype, subindexpage in subindices %}
        <li>
          <a href={{ subindexpage }}>{{ extensiontype }}</a>
        </li>
      {% endfor %}
    </ul>

    <h2>Software</h2>

    <p>
      The software used to compute all results presented on these pages
      is called 'kes' and is available on github at:<br>
      <a href="https://github.com/Kronrod-Extension-Library/kes">
        https://github.com/Kronrod-Extension-Library/kes
      </a>
    </p>

  </body>
</html>
